.heading-1 {
  flex: 1 1 100%;
  font-size: 3.3rem;
  font-weight: 700;
}

.heading-2 {
  flex: 1 1 100%;
  font-size: 2.75rem;
  font-weight: 700;
}

.text {
  margin-top: 0.625rem;
  flex: 1 1 100%;
  max-width: 75%;
  font-size: 1rem;
  font-weight: 500;
}

.btn-custom {
  background-color: #54c296;
  border-radius: 0.625rem;
  color: #fff;
  padding: 0.625rem 0.95rem;
  font-weight: 600;
}

.btn-wrapper {
  margin-top: 0.625rem;
  flex: 1 1 100%;
}
