<div class="row">
  <h1 class="col-md-12 heading-1 text-center text-md-left">Tax Refunds</h1>
  <h1 class="col-md-12 heading-2 text-center text-md-left">Made Really Simple</h1>
  <p class="col-md-12 text text-center text-md-left">We use a combination of our experienced team, smart questioning and artificial intelligence to make claiming tax back, simple.</p>
  <div class="col-md-12 btn-wrapper text-center text-md-left">
    <button class="btn btn-custom shadow-lg">Get Started</button>
  </div>
</div>
