<div class="container my-5">
  <div class="row">
    <div class="col-12 mb-5">
      <h1 class="heading-1 text-center">Every tax refund, at your fingertips</h1>
    </div>
    <div class="col-12">
      <swiper
        [loop]="true"
        [spaceBetween]="30"
        [navigation]="true"
        [autoplay]="{delay: 3000}"
        [breakpoints]="breakpoints"
      >
        <ng-template swiperSlide> <img class="img-fluid w-90" src="/assets/images/svgs/section-two/illustrations/illustrations-1.svg" alt="illustrations-1"/> </ng-template>
        <ng-template swiperSlide> <img class="img-fluid w-90" src="/assets/images/svgs/section-two/illustrations/illustrations-2.svg" alt="illustrations-2"/> </ng-template>
        <ng-template swiperSlide> <img class="img-fluid w-90" src="/assets/images/svgs/section-two/illustrations/illustrations-3.svg" alt="illustrations-3"/> </ng-template>
        <ng-template swiperSlide> <img class="img-fluid w-90" src="/assets/images/svgs/section-two/illustrations/illustrations-4.svg" alt="illustrations-4"/> </ng-template>
      </swiper>
    </div>
  </div>
</div>
