.bg-blue {
  background-color: #150840;
}

.circle-btn {
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
  height: 50px;
  width: 50px;
}

.arrow-img {
  width: 35%;
  animation: arrow-down 1.5s infinite;
}

@keyframes arrow-down {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  25% {
    opacity: 0;
    transform: translateY(20%);
  }
  75% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
