<div class="container-fluid bg-blue text-light px-5" #section1>
  <div class="row justify-content-between">
    <div class="col-md-6 mt-5">
      <section-one-leftside></section-one-leftside>
    </div>
    <div class="col-md-6">
      <section-one-rightside></section-one-rightside>
    </div>
  </div>
  <div class="row justify-content-center pb-4">
    <div class="d-flex justify-content-center align-items-center circle-btn"><img class="img-fluid arrow-img" src="/assets/images/misc/down-arrows.png"/></div>
  </div>
</div>
