<section>
  <div class="container">
    <div class="split">
        <div class="cols fb-full">
          <app-logo></app-logo>
          <div class="socials top">
            <div class="social">
              <img src="/assets/images/svgs/footer/facebook-green.svg" alt="facebook-green" class="img-fluid">
            </div>
            <div class="social">
              <img src="/assets/images/svgs/footer/linkedin-green.svg" alt="linkedin-green" class="img-fluid">
            </div>
          </div>
        </div>
        <div class="cols">
            <ul class="links-wrapper">
                <li class="links label">Company</li>
                <li class="links">
                    <a href="http://" class="">Reviews</a>
                </li>
                <li class="links">
                    <a href="http://" class="">Articles</a>
                </li>
                <li class="links">
                    <a href="http://" class="">Help</a>
                </li>
            </ul>
        </div>
        <div class="cols">
            <ul class="links-wrapper">
                <li class="links label">Legal</li>
                <li class="links">
                    <a href="http://" class="">Terms</a>
                </li>
                <li class="links">
                    <a href="http://" class="">Privacy</a>
                </li>
                <li class="links">
                    <a href="http://" class="">Careers</a>
                </li>
                <li class="links">
                    <a href="http://" class="">Cookies</a>
                </li>
            </ul>
        </div>
        <div class="cols fb-full">
            <ul class="links-wrapper">
                <li class="links label">Products</li>
                <li class="links">
                    <a href="http://" class="">Marriage tax refunds</a>
                </li>
                <li class="links">
                    <a href="http://" class="">Uniform tax rebate</a>
                </li>
                <li class="links">
                    <a href="http://" class="">Red tax refunds</a>
                </li>
                <li class="links">
                    <a href="http://" class="">PPI tax refund</a>
                </li>
                <li class="links">
                    <a href="http://" class="">Mileage tax refunds</a>
                </li>
            </ul>
        </div>
        <div class="cols fb-full bottom">
          <div class="socials">
            <div class="social">
              <img src="/assets/images/svgs/footer/facebook-green.svg" alt="facebook-green" class="img-fluid">
            </div>
            <div class="social">
              <img src="/assets/images/svgs/footer/linkedin-green.svg" alt="linkedin-green" class="img-fluid">
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
