<nav class="navbar navbar-expand-lg navbar-dark bg-blue py-4 px-md-5">
  <app-logo></app-logo>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto align-items-center">
      <a class="nav-item text-light nav-link mr-2" href="#">Reviews</a>
      <a class="nav-item text-light nav-link mr-2" href="#">Articles</a>
      <a class="nav-item text-light nav-link mr-2" href="#">Help</a>
      <button class="btn btn-custom shadow-lg">
        {{ "Get started" | titlecase }}
      </button>
    </div>
  </div>
</nav>
