<div class="d-flex justify-content-center align-items-center position-relative overflow-hidden">
  <img class="img-fluid iphone" src="/assets/images/svgs/section-one/iPhone.svg" alt="phone">
  <img class="img ellipse" src="/assets/images/svgs/section-one/ellipse.svg" alt="ellipse">
  <img class="img msg-1 animate-msg" src="/assets/images/svgs/section-one/msg-1-ns.svg" alt="msg-1">
  <img class="img msg-2 animate-msg" src="/assets/images/svgs/section-one/msg-2-ns.svg" alt="msg-2">
  <img class="img msg-3 animate-msg" src="/assets/images/svgs/section-one/msg-3-ns.svg" alt="msg-3">
</div>
