.iphone {
  z-index: 1;
  width: 43.8%;
  animation: phone 3s;
  @media only screen and (max-width: 1200px) {
    width: 60.8%;
  }
  @media only screen and (max-width: 768px) {
    margin-top: 2rem;
    width: 80.8%;
    padding-left: -40px;
    padding-right: -40px;
  }
}

.ellipse {
  position: absolute;
  z-index: 0;
  width: 70%;
  animation: ellipse 3s;
  @media only screen and (max-width: 1200px) {
    width: 80%;
  }
  @media only screen and (max-width: 768px) {
    width: 95%;
    padding-left: -40px;
    padding-right: -40px;
  }
}

.msg-1 {
  position: absolute;
  z-index: 2;
  bottom: 20%;
  left: 10%;
  width: 30%;
  @media only screen and (max-width: 1200px) {
    width: 40%;
  }
  @media only screen and (max-width: 768px) {
    bottom: 20%;
    left: 5%;
    width: 50%;
    padding-left: -40px;
    padding-right: -40px;
  }
}

.msg-2 {
  position: absolute;
  z-index: 2;
  bottom: 24%;
  right: 8%;
  width: 28%;
  @media only screen and (max-width: 1200px) {
    right: 5%;
    width: 32%;
  }
  @media only screen and (max-width: 768px) {
    bottom: 27%;
    right: -5%;
    width: 38%;
    padding-left: -40px;
    padding-right: -40px;
  }
}

.msg-3 {
  position: absolute;
  z-index: 2;
  top: 10%;
  right: 11%;
  width: 28%;
  @media only screen and (max-width: 1200px) {
    right: 5%;
    width: 32%;
  }
  @media only screen and (max-width: 768px) {
    top: 15%;
    right: -5%;
    width: 36%;
    padding-left: -40px;
    padding-right: -40px;
  }
}

@keyframes ellipse {
  0% {
    border-radius: 50%;
    transform: scale(0);
  }
  100% {
    border-radius: 50%;
    transform: scale(1);
  }
}

@keyframes phone {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-msg {
  animation: msg-opacity 4s, msg-bounce 2s infinite;
}

@keyframes msg-opacity {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes msg-bounce {
  0% {
    transform: translateY(5%);
  }
  50% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(5%);
  }
}
