.section {
  padding: 5rem 0 4rem;
}

.heading {
  color: #150840;
  text-align: center;
  font-weight: 700;
  margin-bottom: 1.5em;
}

.title {
  font-weight: 600;
}

.split {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.cols {
  flex: 1 1 100%;
  display: flex;
  flex-flow: column;
}

.content-container {
  text-align: center;
  &:last-child .custom-btn {
    margin-bottom: 0;
  }
}

.custom-btn {
  background-color: #54c296;
  border-radius: 0.625rem;
  color: #fff;
  padding: 0.625rem 0.95rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 767px) {
  .container {
    max-width: 900px;
  }

  .split {
    flex-flow: row;
    justify-content: center;
  }

  .split > * {
    margin: 0 2rem;
  }

  .heading {
    font-size: 2.5rem;
  }

  .custom-btn {
    margin-bottom: 0;
  }
}
