<section class="section">
  <div class="container-fluid">
    <h2 class="heading">Personal and business tax refunds, made easy</h2>
  </div>
  <div class="container">
    <div class="split">
      <div class="cols">
        <img src="/assets/images/svgs/section-five/Illustrations-personal.svg" alt="Personal Tax Refund">
        <div class="content-container">
          <h5 class="title">Personal Tax</h5>
          <p class="desc">Entreaties unpleasant sufficient few pianoforte discovered uncommonly ask insensible celebrated</p>
          <button class="btn custom-btn">Get Started</button>
        </div>
      </div>
      <div class="cols">
        <img src="/assets/images/svgs/section-five/Illustrations-business.svg" alt="Business Tax Refund">
        <div class="content-container">
          <h5 class="title">Business Tax</h5>
          <p class="desc">Winding its waiting yet parlors married own feeling barry fruit do spite an times delicate its yourself</p>
          <button class="btn custom-btn">Get Started</button>
        </div>
      </div>
    </div>
  </div>
</section>
