<div class="d-flex justify-content-center align-items-center position-relative  overflow-hidden">
  <img class="img-fluid iphone" src="/assets/images/misc/iPhone.png" alt="phone">
  <img class="img ellipse" src="/assets/images/svgs/ellipse.svg" alt="ellipse">
  <img class="img msg-1 animate-msg" src="/assets/images/misc/msg-1.png" alt="msg-1">
  <img class="img msg-2 animate-msg" src="/assets/images/misc/msg-2.png" alt="msg-2">
  <img class="img msg-3 animate-msg" src="/assets/images/misc/msg-3.png" alt="msg-3">
</div>
