<section>
  <div class="container">
    <h2 class="heading">Our door is always open</h2>
    <div class="split">
      <div class="cols">
        <div class="text-container">
          <h5 class="title">100% Digital Process</h5>
          <p class="desc">Explore our tax guide and find answers to the most common questions.</p>
        </div>
        <div class="btn-wrapper">
          <button class="btn custom-btn">Read our FAQ's</button>
        </div>
      </div>
      <div class="cols">
        <div class="text-container">
          <h5 class="title">Ask us anything</h5>
          <p class="desc">Can’t find the answer you’re looking for? Chat to one of our tax experts and ask them anything.</p>
        </div>
        <div class="btn-wrapper">
          <button class="btn custom-btn">Talk to us now</button>
        </div>
      </div>
    </div>
  </div>
</section>
