<section>
  <div class="container container-tiny">
    <h2 class="heading">Blogs on boring tax stuff,
      made interesting</h2>
  </div>
  <div class="container">
    <div class="split">
      <div class="cols">
        <img src="/assets/images/svgs/section-seven/blog-1.svg" alt="Personal Tax" class="img-fluid">
        <div class="text-container">
          <div class="title-date-wrapper">
            <h6 class="title">Personal Tax</h6>
            <h6 class="title">16th March, 2021</h6>
          </div>
          <p class="desc">
            Ferrars all spirits his imagine effects neither out of box inself…
          </p>
        </div>
      </div>
      <div class="cols">
        <img src="/assets/images/svgs/section-seven/blog-2.svg" alt="Personal Tax" class="img-fluid">
        <div class="text-container">
          <div class="title-date-wrapper">
            <h6 class="title">Personal Tax</h6>
            <h6 class="title">16th March, 2021</h6>
          </div>
          <p class="desc">
            Tore has sons put upon wife use bred seen dissimilar invitation ten has discretion…
          </p>
        </div>
      </div>
      <div class="cols">
        <img src="/assets/images/svgs/section-seven/blog-3.svg" alt="Business Tax" class="img-fluid">
        <div class="text-container">
          <div class="title-date-wrapper">
            <h6 class="title">Personal Tax</h6>
            <h6 class="title">16th March, 2021</h6>
          </div>
          <p class="desc">
            He seemed denote except as oppose do spring my between any may…
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
