.heading {
  font-weight: 600;
  color: #150840;
  text-align: center;

  @media only screen and (max-width: 600px) {
    font-size: 1.4rem;
  }
}

.subtext {
  color: #23174d;
  text-align: center;

  @media only screen and (max-width: 600px) {
    font-size: 1rem;
  }
}

img {
  max-width: 100%;
  height: auto;

  @media only screen and (max-width: 1200px) {
    max-width: initial;
    height: initial;
  }
}
