<div class="right-side">
  <div class="texts-container">

    <h1 class="heading">A new kind of accountant</h1>
    <div class="bubble-container">
      <h1 class="bubble-title">
        100% Digital Process
      </h1>
      <p class="bubble-text">
        Apply in minutes from your phone
      </p>
    </div>
    <div class="bubble-container align-self-right">
      <h1 class="bubble-title">
        24/7
      </h1>
      <p class="bubble-text">
        24/7 UK customer Support
      </p>
      <p class="bubble-text">
        Chat to real humans, any time
      </p>
    </div>
    <div class="bubble-container">
      <h1 class="bubble-title">
        £0 Fixed Fee
      </h1>
      <p class="bubble-text">
        No win - No Fee
      </p>
      <p class="bubble-text">
        Only pay a fee if your claim is successful
      </p>
    </div>
  </div>
</div>
