.bg-blue {
  background-color: #150840;
}

.left {
  margin: 6.5rem 1rem 5em;
  flex: 1 1 46%;
  max-width: 46%;
}

.right {
  margin: 6.5rem 1rem 5em;
  flex: 1 1 46%;
  max-width: 46%;
}

.flex-1 {
  flex: 1;
}
