<div class="d-flex flex-wrap justify-content-center justify-content-md-start">
  <div class="text-container">
    <h1 class="heading-1 text-center text-md-left">Tax Refunds</h1>
    <h1 class="heading-2 text-center text-md-left">Made Really Simple</h1>
    <p class="text text-center text-md-left">We use a combination of our experienced team, smart questioning and artificial intelligence to make claiming tax back, simple.</p>
    <div class="btn-wrapper text-center text-md-left">
      <button class="btn btn-custom shadow-lg">Get Started</button>
    </div>
  </div>
</div>
