.text-container {
  width: clamp(25rem, 36.458vw, 43.75rem);
}

.heading-1 {
  font-size: clamp(2.125rem, 4.01vw, 4.813rem);
  font-weight: 700;
}

.heading-2 {
  font-size: clamp(1.875rem, 3.49vw, 4.188rem);
  font-weight: 700;
}

.text {
  margin-top: 1.875rem;
  font-size: clamp(1rem, 1.25vw, 1.5rem);
  font-weight: 500;
}

.btn-custom {
  background-color: #54c296;
  border-radius: 0.938rem;
  color: #fff;
  font-size: clamp(1rem, 1.146vw, 1.375rem);
  padding: 0.818em 1.455em;
  font-weight: 600;
  @media only screen and (max-width: 767px) {
    padding: 0.875em 1.875em;
  }
}

.btn-wrapper {
  margin-top: clamp(2rem, 2.604vw, 3.125rem);
  @media only screen and (max-width: 767px) {
    margin-top: 2.188rem;
  }
}
