/* You can add global styles to this file, and also import other style files */
@import '~swiper/swiper-bundle';

$primary-color: #150840;
$secondary-color: #444950;

body {
  background-color: #fff;
  font-family: Poppins, sans-serif !important;
}

.swiper-button-prev{
  display: none;
}

.swiper-button-next{
  display: none;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}
